<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VolumeWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VolumeWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <VolumeWatcher.Properties.Settings>
            <setting name="window_position" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="window_opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="enable_volume_key" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionWindow_Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OptionWindow_Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="AssemblyVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="Is_Mic_Mute" serializeAs="String">
                <value>False</value>
            </setting>
        </VolumeWatcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VolumeWatcher.Properties.Settings>
            <setting name="startup_name" serializeAs="String">
                <value>ボリューム監視＆表示</value>
            </setting>
            <setting name="GitURL" serializeAs="String">
                <value>https://github.com/adamsapple/VolumeWatcherWPF/</value>
            </setting>
        </VolumeWatcher.Properties.Settings>
    </applicationSettings>
</configuration>
